# Possible values: "development", "testing", "staging" or "production"
ENVIRONMENT="development"
SECRET_KEY=

JWT_ALGORITHM=
JWT_SECRET=
ACCESS_TOKEN_EXPIRE_MINUTES=60

DB_NAME=
DB_HOST=postgres
DB_PORT=8013
DB_USER=
DB_PASSWORD=
